@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact_section {
  height: 30em;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background: linear-gradient(
    45deg,
    rgba(204, 68, 68, 1) 10%,
    rgba(4, 4, 4, 1) 100%
  );
  border-radius: 50px;

  .tittle_contact {
    display: flex;
    justify-content: center;
    font-family: Georgia, "Times New Roman", Times, serif;
    letter-spacing: 0.2em;
    .tittle_red {
      color: red;
      font-size: 24px;
      margin: 0 10px 0 10px;
    }
  }
  .all_container_data {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .data {
      height: 18em;
      width: 30em;
      background-color: rgb(128, 128, 128, 0.2);
      @include flex;
      flex-direction: column;
      &:hover {
        border-bottom: 3px solid red;;
        transition: all 500ms ease-in-out;
        transform: translateY(-15px);
        filter: brightness(0.5);
      }
      .data_container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 80%;
        .tittle_contact_data {
          font-family: Georgia, "Times New Roman", Times, serif;
          font-size: 1em;
        }
        .paragraph_data {
          font-family: Georgia, "Times New Roman", Times, serif;
          letter-spacing: 2px;
        }
        svg {
          height: 50px;
        }
        .border {
          height: 1px;
          width: 6em;
          border-bottom: 2px solid grey;
        }
      }
    }
  }
}

