@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
$primary-weight: 700;
$secondary-weight: 500;
$another-weight: 300;
@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  .top_bar {
    height: 4em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 125px;
    background-color: #221f1f;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    .logo-container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 15%;

      .logo {
        color: #f5f5f1;
        font-size: 21px;
        font-family: "Montserrat", sans-serif;
      }
    }
    .navigation {
      display: flex;
      list-style-type: none;
      align-items: center;
      font-size: 20px;
      width: 30vw;
      height: 100%;
      li {
        height: 100%;
        width: 100%;
        @include flex;
        text-align: center;
        position: relative;
        &:hover {
          &:before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 3px;
            background-color: rgba(204, 68, 68, 1);
            animation: underlineAnimation 0.5s forwards;
          }
        }
      }
      a {
        @include flex;
        width: 100%;
        height: 100%;
        color: #f5f5f1;
        text-decoration: none;
        font-family: "Montserrat", sans-serif;
      }
    }
  }
}
.header_container {
  background: linear-gradient(
    45deg,
    rgba(204, 68, 68, 1) 10%,
    rgba(4, 4, 4, 1) 100%
  );
  height: 90vh;
  @include flex;
  position: relative;
  border-bottom: 5px solid black;
  border-radius: 50px;
  width: 100%;
  .welcome_site {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f5f5f1;
    margin-left: 30px;
    .social-icons {
      height: 100px;
      width: 50px;
      position: fixed;
      top: 50%;
      left: 0;
      border: 2px solid #f5f5f1;
      border-left: none;
      border-radius: 0 5px 5px 0;
      .github-container {
        border-bottom: 2px solid #f5f5f1;
      }
    }
    .welcome_title {
      font-family: "Roboto", sans-serif;
    }
    .btn-container {
      display: flex;
      justify-content: center;
      width: 100%;
      height: auto;
      padding-top: 75px;
    }
    .above-arrow {
      text-align: center;
      margin-bottom: 10px;
      font-family: "Roboto", sans-serif;
    }
    .about-me-describe {
      margin-top: 30px;
      line-height: 1.4em;
      text-align: center;
      font-family: "Montserrat", sans-serif;
    }
    .btn_first_page {
      border-radius: 5px;
      border: 1px solid #221f1f;
      cursor: pointer;
      background-color: #221f1f;
      height: 60px;
      width: 175px;
      font-size: 18px;
      text-decoration: none;
      color: #f5f5f1;
      font-family: "Montserrat", sans-serif;
      position: relative;
      overflow: hidden;
      transition: background-color 0.3s, color 0.3s;
      &:hover {
        background-color: rgba(204, 68, 68, 0.1);
        color: rgba(204, 68, 68, 1);
        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0;
          height: 3px;
          background-color: rgba(204, 68, 68, 1);
          animation: underlineAnimation 0.5s forwards;
        }
      }
    }
  }
}
@keyframes underlineAnimation {
  to {
    width: 100%;
  }
}
