@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin skill {
  @include flex;
  width: 15em;
  height: 7em;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 10px;
  margin: $primary_margin;
}

$primary_margin: 1em;

.skills_section {
  @include flex;
  background-color: rgb(212, 203, 218);
  height: auto;
  flex-direction: column;
  .skills_container {
    @include flex;
    flex-direction: column;
    .tittle_skills {
      margin-bottom: 2em;
      margin-top: 2em;
      color: rgb(153, 18, 146);
    }
    .first_skill {
      height: 350px;
      width: 40%;
      background: linear-gradient(
        140deg,
        rgb(153, 18, 146) 26%,
        rgba(0, 0, 0, 0.726) 99%
      );
      box-shadow: 20px 5px 100px 23px rgba(153, 18, 146, 1);
      border-radius: 5%;
      @include flex;
      .icon_and_title_first_skill {
        @include flex;
        .tittle_first_skill {
          margin-left: $primary_margin;
          color: #fff;
          font-weight: 300;
          font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
            sans-serif;
        }
      }
      .paragraph_first_skill {
        margin-bottom: 4em;
        color: #fff;
        line-height: 1.7em;
      }
      .mały_div {
        width: 75%;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
      }
    }
  }
  .my_arguments {
    box-shadow: 20px 5px 100px 23px rgba(153, 18, 146, 1);
    @include flex;
    height: 35em;
    width: 80%;
    margin-top: 4em;
    margin-bottom: 4em;
    background: linear-gradient(
      140deg,
      rgb(153, 18, 146) 26%,
      rgba(0, 0, 0, 0.726) 99%
    );
    @media screen and (max-width: 1000px) {
      height: auto;
    }

    .container_arguments {
      @include flex;
      flex-direction: column;
      height: 80%;
      width: 80%;
      background-color: rgba(0, 0, 0, 0);
      .first_row_arguments {
        display: flex;
        @media screen and (max-width: 1000px) {
          display: block;
        }
        .item_arguments {
          @include skill;
        }
      }
      .secondary_row_container {
        display: flex;
        margin: auto;
        .item_arguments {
          @include skill;
        }
      }
    }
    .thirty_row_arguments {
      display: flex;
      @media screen and (max-width: 1000px) {
        display: block;
      }
      .item_arguments {
        @include skill;
      }
    }
  }
}
