body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  scroll-behavior: smooth;
}

html,
body {
  scroll-behavior: smooth;
}
@import "./components/give_items_project/src/scss/settings/_colors.scss";
@import "./components/give_items_project/src/scss/settings/_fonts.scss";
